* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* Purely, for the purpose of accessibility, I removed multiple font-families, and am using a single more accessible font-family for everything. If this were a real company, there were no doubt be rules regarding this, as discussed in class. But because this isn't a real company and because the overriding task is to make this website more accessible, I decided to take a chance and do this.    */
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #d9dcd6;
}

a {
  color: #ffffff;
  text-decoration: none;
}

p {
  font-size: 16px;
}

.header {
  padding: 20px;
  /* I changed the background-color to dark blue to better heighten the contrast between it and the content.  */
  background-color: darkblue;
  color: #ffffff;
}

.header h1 {
  display: inline-block;
  font-size: 48px;
}

/* This color needed to be changed to heighten the contrast between it and the background. The green SEO, of course, is intended to to highlight that this website is about search engine optimization */
.header h1 .seo {
  color: #78e40c;
}

.header div {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-size: 20px;
}

.header div ul {
  list-style-type: none;
}

.header div ul li {
  display: inline-block;
  margin-left: 25px;
}



.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url('../images/digital-marketing-meeting.jpg');
  background-size: cover;
  background-position: center;
}

.content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

/* I created a single container class, because there were multiple classes, consisting of search-engine-optimization, online-reputation-management, and social-media-marketing which could have been consolidated into one.  */
.container {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  /* I changed the background-color to dark blue to better heighten the contrast between it and the content.  */
  background-color: darkblue;
  color: #ffffff;
}

.container img {
  max-height: 200px;
}

.container h2 {
  margin-bottom: 20px;
  font-size: 36px;
}
.float-left {
  float: left;
  margin-right: 25px;
}

.float-right {
  float: right;
  margin-left: 25px;
}
.benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  /* I changed the background-color to dark blue to better heighten the contrast between it and the content.  */
  background-color: darkblue;
}

/* I created a single icons class, because there were multiple classes, consisting of benefit-lead, benefit-brand, and benefit-cost, which could have been consolidated into one.  */

.icons {
  margin-bottom: 32px;
  color: #ffffff;
}

.icons h3 {
  margin-bottom: 10px;
  text-align: center;
}

.icons img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

.footer {
  padding: 30px;
  clear: both;
  text-align: center;
}

.footer h2 {
  font-size: 20px;
}
